:root {
    --smoky-black: #0F0A0A;
    --white: #f5efed;
    --blue: #2292a4;
    --citrine: #bdbf09;
    --brown: #d96c06;
}
/* General styling */

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--white);
}

button, input, textarea {
    font: inherit;
    color: inherit;
}

body {
    background-color: var(--smoky-black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

/* navigation */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    max-width: 1350px;

    .branding {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }
    
    img {
        width: 2rem;
    }

    nav {
        display: flex;
        gap: 2rem;
    }

    & button {
        background: none;
        border: none;
        font-size: 1.1rem;
        position: relative;
        transition: transform 0.5s;
    }

    #icon {
        display: none;
    }
}

/* Button transition */
nav > button:not(#icon) {
    cursor: pointer;

    &::after {
        position: absolute;
        left: 50%;
        right: 50%;
        top: calc(1.1rem + 8px);
        display: inline-block;
        content: '';
        height: 3px;
        background-color: #d96c06;
        transition: left 0.5s, right 0.5s;
        border-radius: 2px;
    }

    &:hover::after,
    &.active::after {
        left: 0;
        right: 0;
    }

    &:not(.active):hover {
        transform: scale(1.2);
    }
}

/* Content */

.content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

/* Hero */

.hero {
    padding: 0 2rem;
    height: 90%;
    display: flex;
    align-items: center;
    gap: 5%;

    h1 {
        color: var(--brown);
        margin-bottom: 0.2rem;

    }

    p {
        max-inline-size: 60ch;
        font-size: 1.125rem;
        margin-bottom: 1.5rem;
    }

    img {
        height: clamp(300px, 250px + 8vw, 400px);
        animation: spin-in 2s cubic-bezier(.23,1,.32,1);
    }

    button {
        background-color: var(--blue);
        border: var(--blue) 4px solid;
        padding: 0.2rem 0.5rem;
        border-radius: 4px;
        font-weight: 600;
        cursor: pointer;
        transition: background 0.3s, color 0.3s;

        &:hover {
            background: none;
            color: var(--blue);
        }
    }
}

@keyframes spin-in {
    0% {
        transform: translateX(30rem) rotate(-180deg);
    }

    100% {
        transform: translateX(0) rotate(0);
    }
}

/* Menu */

.menu-list {
    height: 90%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-item {
    display: grid;
    grid-template-columns: 150px 60ch auto;
    align-items: center;
    padding: 0.5rem 0;
    opacity: 0;

    & + .menu-item {
        border-top: 1px solid rgba(188, 191, 9, 0.125);
    }

    img {
        max-width: 100%;
    }

    .price {
        font-size: 2rem;
        font-weight: 600;
    }
}

/* Menu animation */

@keyframes menu-slide {
    0% {
        transform: translateX(30rem)
    }
    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}

.menu-list .menu-item:first-child {
    animation: 1s menu-slide 100ms forwards;
}
.menu-list .menu-item:nth-child(2) {
    animation: 1s menu-slide 200ms forwards;
}
.menu-list .menu-item:nth-child(3) {
    animation: 1s menu-slide 300ms forwards;
}
.menu-list .menu-item:nth-child(4) {
    animation: 1s menu-slide 400ms forwards;
}
.menu-list .menu-item:nth-child(5) {
    animation: 1s menu-slide 500ms forwards;
}

/* Contact */

.contact {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 90vw;
    max-width: 600px;

    h3 + p:first-of-type {
        margin-bottom: 1.5rem;
    }

    form {
        margin-top: 1rem;
        border: 1px solid var(--brown);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    label {
        font-weight: 600;
    }

    input {
        margin-bottom: 0.75rem;
        padding: 0.25rem;
        border: none;
        border-bottom: 1px solid var(--citrine);
        background: none;
        color: var(--white);
        
        &:focus {
            outline: none;
        }
    }

    textarea {
        resize: none;
        height: 200px;
        background: #e5e5e50a;
        border: 1px var(--citrine) outset;
        padding: 0.5rem;

        &:focus {
            outline: none;
        }
    }
}

.green {
    color: var(--citrine);
}

#send {
    position: relative;
    top: 30px;
    width: 80%;
    max-width: 250px;
    margin: 0 auto;
    background: var(--smoky-black);
    border: 2px var(--brown) outset;
    border-radius: 4px;
    padding: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.5s;

    &:hover {
        transform: scale(1.1);
    }
}

.phoneNum {
    display: flex;
    align-items: center;

    > img {
        margin-right: 4px;
    }
}


/* media queries */

@media only screen and (max-width: 650px) {
    .hero {
        flex-direction: column;
        justify-content: center;
    }

    .hero-text {
        order: 1;
        text-align: center;
    }
}

@media only screen and (max-width: 650px) {
    header nav {
        position: absolute;
        left: 80%;
        top: 20px;
        display: block;
        z-index: 1;
    }

    nav button:not(#icon) {display: none;}
    nav #icon {
        display: block;
    }

    nav:has(.responsive) {
        background-color: var(--smoky-black);
    }

    nav .responsive {
        display: block !important;
    }

    .responsive + .responsive {
        margin-top: 15px;
    }
}

@media only screen and (max-width: 800px) {
    .menu-item {
        grid-template-columns: 100px 30ch auto;
    }

    .menu-item .price {
        font-size: 1.5rem;
        padding-left: 4px;
    }
}

@media only screen and (max-width: 450px) {
    .menu-item p:not(.price) {
        display: none;
    }

    .menu-item {
        grid-template-columns: 100px auto auto;
    }
}