:root {
    --smoky-black: #0F0A0A;
    --white: #f5efed;
    --blue: #2292a4;
    --citrine: #bdbf09;
    --brown: #d96c06;
}
/* General styling */

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--white);
}

button {
    font: inherit;
    color: inherit;
}

body {
    background-color: var(--smoky-black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

/* navigation */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    max-width: 1350px;

    .branding {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }
    
    img {
        width: 2rem;
    }

    nav {
        display: flex;
        gap: 2rem;
    }

    & button {
        background: none;
        border: none;
        font-size: 1.1rem;
        position: relative;
        transition: transform 0.5s;
    }
}

/* Button transition */
nav > button {
    cursor: pointer;

    &::after {
        position: absolute;
        left: 50%;
        right: 50%;
        top: calc(1.1rem + 8px);
        display: inline-block;
        content: '';
        height: 3px;
        background-color: #d96c06;
        transition: left 0.5s, right 0.5s;
        border-radius: 2px;
    }

    &:hover::after,
    &.active::after {
        left: 0;
        right: 0;
    }

    &:not(.active):hover {
        transform: scale(1.2);
    }
}

/* Content */

.content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

/* Hero */

.hero {
    height: 90%;
    display: flex;
    align-items: center;
    gap: 5%;

    h1 {
        color: var(--brown);
        margin-bottom: 0.2rem;

    }

    p {
        max-inline-size: 60ch;
        font-size: 1.125rem;
        margin-bottom: 1.5rem;
    }

    img {
        height: clamp(300px, 250px + 8vw, 400px);
        animation: spin-in 2s cubic-bezier(.23,1,.32,1);
    }

    button {
        background-color: var(--blue);
        border: var(--blue) 4px solid;
        padding: 0.2rem 0.5rem;
        border-radius: 4px;
        font-weight: 600;
        cursor: pointer;
        transition: background 0.3s, color 0.3s;

        &:hover {
            background: none;
            color: var(--blue);
        }
    }
}

@keyframes spin-in {
    0% {
        transform: translateX(30rem) rotate(-180deg);
    }

    100% {
        transform: translateX(0) rotate(0);
    }
}